# ===========================
# Application
# ===========================

vendor
.phpunit.result.cache
build
composer.lock
phpstan.neon
phpunit.xml

# ===========================
# IDE
# ===========================

.idea
